In [21]:
# Dependencies
import pandas as pd

In [22]:
# Resource Files
data1819_path = "Resources/Raw Data/2018-2019 NBA Player Stats.xlsx"
data1920_path = "Resources/Raw Data/2019-2020 NBA Player Stats.xlsx"
data2021_path = "Resources/Raw Data/2020-2021 NBA Player Stats.xlsx"
data2122_path = "Resources/Raw Data/2021-2022 NBA Player Stats.xlsx"
data2223_path = "Resources/Raw Data/2022-2023 NBA Player Stats.csv"
salaries23path = "Resources/Raw Data/Nba Player Salaries.csv"
abbrv_path = "Resources/Raw Data/NBA Team Abbreviations.xlsx "

# Read data into data frames
data1819 = pd.read_excel(data1819_path, header = 1)
data1920 = pd.read_excel(data1920_path, header = 1)
data2021 = pd.read_excel(data2021_path, header = 1)
data2122 = pd.read_excel(data2122_path, header = 1)
salaries23 = pd.read_csv(salaries23path)
data2223 = pd.read_csv(data2223_path)
abbrv = pd.read_excel(abbrv_path)

In [23]:
# CLEANING DATA

# Changing abbrevations to title case
abbrv["Abbreviation/acronym"] = abbrv["Abbreviation/acronym"].str.capitalize()

# Adding Years to Dataframes
data1819["Year"] = "2018-2019"
data1920["Year"] = "2019-2020"
data2021["Year"] = "2020-2021"
data2122["Year"] = "2021-2022"
data2223["Year"] = "2022-2023"

# Changing Column Names
columns = ["RANK", "FULL NAME",	"TEAM",	"POS", "AGE", "GP",	"MPG", "MIN%", "USG%", "Tor%", "FTA", "FT%", "2PA", "2P%", "3PA", 
    "3P%", "eFG%", "TS%", "PPG", "RPG", "TRB%", "APG", "AST%", "SPG", "BPG", "TOPG", "VI", "ORTG", "DRTG", "YEAR"]

data1819 = data1819.set_axis(columns, axis = 1)
data1920 = data1920.set_axis(columns, axis = 1)
data2021 = data2021.set_axis(columns, axis = 1)
data2122 = data2122.set_axis(columns, axis = 1)
data2223 = data2223.set_axis(columns, axis = 1)

# Selecting Relevant Columns and Cleaning
salaries23 = salaries23[["Player Name", "2022/2023"]]
salaries23["SALARY.FORMATED"] = salaries23["2022/2023"]
salaries23["2022/2023"] = salaries23["2022/2023"].str.strip("$")
salaries23["2022/2023"] = salaries23["2022/2023"].str.replace(',','')
salaries23["2022/2023"] = salaries23["2022/2023"].astype('int')

In [24]:
# Full Adding Team Name
salary_merged_df = pd.merge(data2223, abbrv, left_on = "TEAM", right_on = "Abbreviation/acronym")

#  Merging 2022/2023 Stats with Salary
salary_merged_df = pd.merge(salary_merged_df, salaries23, left_on = "FULL NAME", right_on = "Player Name")
salary_merged_df.pop("Player Name")
salary_merged_df.rename(columns = {"2022/2023": "SALARY"}, inplace = True)

# Deleting Unused Columns and Reordering
salary_merged_df.pop("TEAM")
salary_merged_df.pop("Abbreviation/acronym")
salary_merged_df = salary_merged_df.rename(columns = {"Franchise": "FRANCHISE", "POS": "POSITION"})

salary_merged_df

,RANK,FULL NAME,POSITION,AGE,GP,MPG,MIN%,USG%,Tor%,FTA,...,SPG,BPG,TOPG,VI,ORTG,DRTG,YEAR,FRANCHISE,SALARY,SALARY.FORMATED
0,1,Kawhi Leonard,F,32.0,2,40.2,30.0,11.9,17,0.882,...,41.0,40.5,47.0,11.0,129.4,110.8,2022-2023,Los Angeles Clippers,42492492,"$42,492,492"
1,17,Russell Westbrook,G,34.6,5,38.5,29.7,16.0,25,0.880,...,31.0,31.0,38.4,11.3,103.9,109.6,2022-2023,Los Angeles Clippers,47080179,"$47,080,179"
2,25,Norman Powell,G,30.1,5,33.5,24.5,9.5,31,0.774,...,24.8,24.0,27.0,6.3,118.8,110.4,2022-2023,Los Angeles Clippers,16758621,"$16,758,621"
3,68,Terance Mann,G-F,26.7,5,26.6,14.5,21.3,9,0.667,...,13.8,12.8,16.0,6.3,124.3,106.4,2022-2023,Los Angeles Clippers,1930681,"$1,930,681"
4,73,Eric Gordon,G,34.5,5,29.8,14.3,8.3,6,0.833,...,11.6,12.8,14.2,4.5,113.5,113.0,2022-2023,Los Angeles Clippers,19568360,"$19,568,360"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,155,Lamar Stevens,F,25.9,2,4.4,15.4,0.0,2,1.000,...,4.0,2.5,4.0,0.0,180.1,110.0,2022-2023,Cleveland Cavaliers,1782621,"$1,782,621"
158,179,Dean Wade,F-C,26.6,2,5.6,8.0,0.0,2,1.000,...,2.5,1.0,2.5,0.0,124.7,112.2,2022-2023,Cleveland Cavaliers,1930681,"$1,930,681"
159,181,Danny Green,G,36.0,4,9.9,8.3,28.6,0,0.000,...,2.5,1.0,2.8,3.1,69.5,93.2,2022-2023,Cleveland Cavaliers,11710528,"$11,710,528"
160,187,Raul Neto,G,31.1,2,3.5,26.4,62.1,2,0.500,...,0.5,1.0,1.0,0.0,NaN,NaN,2022-2023,Cleveland Cavaliers,2463490,"$2,463,490"
161,214,Ricky Rubio,G,32.6,3,5.7,16.6,83.3,0,0.000,...,2.0,1.0,3.0,0.0,46.2,76.1,2022-2023,Cleveland Cavaliers,5853659,"$5,853,659"

In [25]:
# Combining datasets
merged_df = pd.concat([data1819, data1920, data2021, data2122, data2223])

# Adding Full team name
merged_df = pd.merge(merged_df, abbrv, left_on = "TEAM", right_on = "Abbreviation/acronym")

# Deleting Unused Columns and Reordering
merged_df.pop("TEAM")
merged_df.pop("Abbreviation/acronym")

merged_df

,RANK,FULL NAME,POS,AGE,GP,MPG,MIN%,USG%,Tor%,FTA,...,APG,AST%,SPG,BPG,TOPG,VI,ORTG,DRTG,YEAR,Franchise
0,1,Marc Gasol,C,34.37,24,30.6,63.8,13.6,9.5,46.0,...,3.0,14.7,0.88,1.08,0.88,7.4,118.4,97.2,2018-2019,Toronto Raptors
1,2,Danny Green,G-F,31.98,24,28.5,59.4,12.6,13.6,23.0,...,1.1,5.4,1.29,0.46,1.08,4.2,97.4,101.6,2018-2019,Toronto Raptors
2,3,Serge Ibaka,F-C,29.74,24,20.8,43.4,21.4,10.6,42.0,...,0.9,7.4,0.46,0.96,1.04,7.1,105.5,91.9,2018-2019,Toronto Raptors
3,4,Kawhi Leonard,F,27.96,24,39.1,81.6,32.0,11.1,216.0,...,3.9,19.3,1.67,0.71,3.08,10.5,118.9,102.7,2018-2019,Toronto Raptors
4,5,Kyle Lowry,G,33.22,24,37.5,78.2,18.4,14.5,81.0,...,6.6,27.5,1.29,0.29,2.21,8.4,116.8,100.1,2018-2019,Toronto Raptors
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1358,154,Austin Rivers,G,30.90,4,11.6,9.0,11.1,0.0,0.0,...,0.0,0.3,3.80,2.80,4.00,3.4,115.4,118.1,2022-2023,Minnesota Timberwolves
1359,177,Nathan Knight,F-C,25.70,2,2.4,49.2,20.0,0.0,0.0,...,0.0,0.5,1.50,1.00,1.50,0.0,NaN,NaN,2022-2023,Minnesota Timberwolves
1360,208,Jordan McLaughlin,G,27.20,2,7.1,13.1,0.0,0.0,0.0,...,0.0,0.0,1.00,1.00,2.00,0.0,33.0,104.4,2022-2023,Minnesota Timberwolves
1361,210,Josh Minott,F,20.50,1,6.3,14.7,50.0,0.0,0.0,...,1.0,1.0,0.00,0.00,0.00,0.0,0.0,88.3,2022-2023,Minnesota Timberwolves
1362,211,Wendell Moore Jr.,G,21.70,1,2.1,22.0,100.0,0.0,0.0,...,0.0,1.0,0.00,0.00,0.00,0.0,NaN,NaN,2022-2023,Minnesota Timberwolves

In [26]:
# Drop any rows with NA values
merged_df = merged_df.dropna(axis = 0)
merged_df

,RANK,FULL NAME,POS,AGE,GP,MPG,MIN%,USG%,Tor%,FTA,...,APG,AST%,SPG,BPG,TOPG,VI,ORTG,DRTG,YEAR,Franchise
0,1,Marc Gasol,C,34.37,24,30.6,63.8,13.6,9.5,46.000,...,3.0,14.7,0.88,1.08,0.88,7.4,118.4,97.2,2018-2019,Toronto Raptors
1,2,Danny Green,G-F,31.98,24,28.5,59.4,12.6,13.6,23.000,...,1.1,5.4,1.29,0.46,1.08,4.2,97.4,101.6,2018-2019,Toronto Raptors
2,3,Serge Ibaka,F-C,29.74,24,20.8,43.4,21.4,10.6,42.000,...,0.9,7.4,0.46,0.96,1.04,7.1,105.5,91.9,2018-2019,Toronto Raptors
3,4,Kawhi Leonard,F,27.96,24,39.1,81.6,32.0,11.1,216.000,...,3.9,19.3,1.67,0.71,3.08,10.5,118.9,102.7,2018-2019,Toronto Raptors
4,5,Kyle Lowry,G,33.22,24,37.5,78.2,18.4,14.5,81.000,...,6.6,27.5,1.29,0.29,2.21,8.4,116.8,100.1,2018-2019,Toronto Raptors
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1356,95,Taurean Prince,F,29.20,5,20.0,19.4,13.0,9.0,0.778,...,0.2,1.0,9.20,8.60,10.00,4.1,101.1,111.5,2022-2023,Minnesota Timberwolves
1357,142,Jaylen Nowell,G,23.90,5,12.4,21.5,7.1,2.0,0.500,...,0.0,0.4,4.20,3.80,4.80,4.0,73.4,116.8,2022-2023,Minnesota Timberwolves
1358,154,Austin Rivers,G,30.90,4,11.6,9.0,11.1,0.0,0.000,...,0.0,0.3,3.80,2.80,4.00,3.4,115.4,118.1,2022-2023,Minnesota Timberwolves
1360,208,Jordan McLaughlin,G,27.20,2,7.1,13.1,0.0,0.0,0.000,...,0.0,0.0,1.00,1.00,2.00,0.0,33.0,104.4,2022-2023,Minnesota Timberwolves
1361,210,Josh Minott,F,20.50,1,6.3,14.7,50.0,0.0,0.000,...,1.0,1.0,0.00,0.00,0.00,0.0,0.0,88.3,2022-2023,Minnesota Timberwolves

In [65]:
# Counts of Positions
position_counts_df = pd.DataFrame(salary_merged_df["POSITION"].value_counts())
position_counts_df

     POSITION
G          64
F          41
F-C        17
G-F        13
C          13
C-F         8
F-G         6

In [61]:
salary_by_team_pos_df = pd.DataFrame(salary_merged_df.groupby(["FRANCHISE", "POSITION"])["SALARY"].sum())
salary_by_team_pos_df["INDEX"] = range(1, len(salary_by_team_pos_df) + 1)
col = salary_by_team_pos_df.pop("INDEX")
salary_by_team_pos_df.insert(0, "INDEX", col)
salary_by_team_pos_df

                           INDEX    SALARY
FRANCHISE        POSITION
Atlanta Hawks    C             1  18206896
                 F             2   5751720
                 F-C           3  29895160
                 F-G           4   9835881
                 G             5  74135795
...                          ...       ...
Sacramento Kings C            65   3918600
                 F            66  30623679
                 F-C          67  23010860
                 G            68  48657599
                 G-F          69  15293583

[69 rows x 2 columns]

In [62]:

# Exporting to csv
merged_df.to_csv("Resources/CombinedNBAPlayerStats.csv")
salary_merged_df.to_csv("Resources/StatsandSalary.csv")
position_counts_df.to_csv("Resources/PositionCounts.csv")
salary_by_team_pos_df.to_csv("Resources/TeamPositionSalary.csv")