In [14]:
# Setting up Dependencies
import pandas as pd

import sqlalchemy
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

from flask import Flask, jsonify

Base = declarative_base()

In [34]:
# Setting Up Class
class Salary(Base):
    __tablename__ = "SalaryTable"
    rank = Column(String)
    full_name = Column(String, primary_key = True)
    team = Column(String)
    position = Column(String)
    age = Column(Float)
    GP = Column(Integer)
    MPG = Column(Float)
    MIN = Column(Float)
    USG = Column(Float)
    Tor = Column(Float)
    FTA = Column(Float)
    FT = Column(Float)
    n2PA = Column(Float)
    n2P = Column(Float)
    n3PA = Column(Float)
    n3P = Column(Float)
    eFG = Column(Float)
    TS = Column(Float)
    PPG = Column(Float)
    RPG = Column(Float)
    APG = Column(Float)
    SPG = Column(Float)
    BPG = Column(Float)
    TOPG = Column(Float)
    PA = Column(Float)
    PRA = Column(Float)
    VI = Column(Float)
    ORTG = Column(Float)
    DRTG = Column(Float)
    YEAR = Column(String)
    FRACHISE = Column(String)
    SALARY = Column(Integer)

C:\Users\didie\AppData\Local\Temp\ipykernel_10604\2087590995.py:2: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Salary, and will be replaced in the string-lookup table.
  class Salary(Base):

InvalidRequestError: Table 'SalaryTable' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [35]:
# Resource File
path = "Resources/StatsandSalary.csv"

# Read the csv
salary_df = pd.read_csv(path)
salary_df.columns

Index(['Unnamed: 0', 'RANK', 'NAME', 'TEAM', 'POS', 'AGE', 'GP', 'MPG', 'USG%',
       'TO%', 'FTA', 'FT%', '2PA', '2P%', '3PA', '3P%', 'eFG%', 'TS%', 'PPG',
       'RPG', 'APG', 'SPG', 'BPG', 'TPG', 'P+R', 'P+A', 'P+R+A', 'VI', 'ORtg',
       'DRtg', 'Salary'],
      dtype='object')

In [37]:
for row in salary_df.index:
    rank = salary_df["RANK"][row]
    full_name = salary_df["NAME"][row]
    team = salary_df["TEAM"][row]
    position = salary_df["POS"][row]
    age = salary_df["AGE"][row]
    GP = salary_df["GP"][row]
    MPG = salary_df["MPG"][row] 
    USG = salary_df["USG%"][row]
    TO = salary_df["TO%"][row]
    FTA = salary_df["FTA"][row]
    FT = salary_df["FT%"][row]
    n2PA= salary_df["2PA"][row]
    n2P= salary_df["2P%"][row]
    n3PA = salary_df["3PA"][row]
    n3P= salary_df["3P%"][row]
    eFG = salary_df["eFG%"][row]
    TS = salary_df["TS%"][row]
    PPG = salary_df["PPG"][row]
    RPG = salary_df["RPG"][row]
    APG = salary_df["APG"][row]
    SPG = salary_df["SPG"][row]
    BPG = salary_df["BPG"][row]
    TPG = salary_df["TPG"][row]
    PA = salary_df["P+A"][row]
    PRA = salary_df["P+R+A"][row]
    VI = salary_df["VI"][row]
    ORTG = salary_df["ORtg"][row]
    DRTG = salary_df["DRtg"][row]
    salary = salary_df["Salary"][row]
    x = Salary(rank, full_name, position, age, GP, MPG,
               USG, TO, FTA, FT , n2PA, n2P, n3PA, n3P, eFG, 
               TS , PPG, RPG,  APG, SPG, BPG, TPG, VI,  PA, PRA,
               ORTG, DRTG)
    session.add(x)
session.commit()

NameError: name 'MIN' is not defined